body {
	padding-top: 58px;
	background-image: url("../seamless.png");
  	background-repeat: repeat;
  	color: #7a0325;
  	scroll-behavior: smooth;

}
/* Style the header: fixed position (always stay at the top) */
.header {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  background-color: #000000;
}

/* The progress container (grey background) */
.progress-container {
  width: 100%;
  height: 8px;
  background: #ccc;
}

/* The progress bar (scroll indicator) */
.progress-bar {
  height: 60px;
  background: #d279ea;
  width: 0%;
}
.firstline{
	text-align: center;
	font-family: 'Paytone One', sans-serif;	
}
#heymorty{
	display:block;
	margin-left: auto;
	margin-right: auto;
	padding-right: 10% auto;
	width: 500px;
	image-rendering: crisp-edges;
	border-radius: 50%;
}
#introtext{
	margin:50px auto;
}
#sec2{
	margin-top: 300px;
	margin-bottom: 300px;
}
#sec4{
	margin-top: 300px;
	margin-bottom: 300px;
}
.mid_border{
	border: dashed;
}
.puzzle_gif{
	height: 420px;
}
.studies{
	width: 100%;
	margin:auto;
	border-radius: 15%;
}
.ib{
	width: auto;
	height: 450px;
}
.icfes{
	width:auto;
	height: auto;
}
/*HOVERING OVER IMAGES*/
.hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
}

.hovereffect .overlay {
  position: absolute;
  overflow: hidden;
  width: 80%;
  height: 80%;
  left: 10%;
  top: 10%;
  border-bottom: 1px solid #FFF;
  border-top: 1px solid #FFF;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: scale(0,1);
  -ms-transform: scale(0,1);
  transform: scale(0,1);
}

.hovereffect:hover .overlay {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.hovereffect img {
  display: block;
  position: relative;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}

.hovereffect:hover img {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="linear" slope="0.6" /><feFuncG type="linear" slope="0.6" /><feFuncB type="linear" slope="0.6" /></feComponentTransfer></filter></svg>#filter');
  filter: brightness(0.6);
  -webkit-filter: brightness(0.6);
}

.hovereffect h2 {
  text-transform: uppercase;
  text-align: center;
  position: relative;
  font-size: 24px;
  background-color: transparent;
  color: rgb(230,230,230);
  padding: 1em 0;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0,-100%,0);
  transform: translate3d(0,-100%,0);
}

.hovereffect h3 {
  text-transform: uppercase;
  text-align: center;
  position: relative;
  font-size: 24px;
  background-color: transparent;
  color: white;
  padding: 1em 0;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0,-100%,0);
  transform: translate3d(0,-100%,0);
}

.hovereffect a, .hovereffect p {
  color: #FFF;
  padding: 1em 0;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0,100%,0);
  transform: translate3d(0,100%,0);
}

.hovereffect:hover a, .hovereffect:hover p, .hovereffect:hover h2, .hovereffect:hover h3 {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

.sty{
	font-family: 'Staatliches', cursive;
}
.topt{
	font-family: 'Josefin Sans', sans-serif;
}
.circular-chart {
  display: block;
  margin: 10px auto;
  max-width: 80%;
  max-height: 250px;
}

.circle {
  fill: none;
  stroke-width: 2.8;
  stroke-linecap: round;
  animation: progress 1s ease-out forwards;
}

.circular-chart.c-bad .circle{
	stroke: rgb(255,72,200);
}
.circular-chart.c-ok .circle{
	stroke: rgb(33, 163, 4);
}
.circular-chart.c-good .circle{
	stroke: rgb(16, 36, 186);
}


@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}

.site-footer {
  background-color: #838383;
	text-align: center;
	margin: 10px 0;
	padding: 10px 0;
}

#social-wrapper {
	text-align: center;
}

/*Social Media Icons*/
.social-wrapper {
	text-align: center;
	margin: 0px;
}

.social-wrapper ul li {
	display: inline;
	
}

.twitter-icon,
.facebook-icon,
.instagram-icon,
.linkedin-icon,
.googleplus-icon,
.youtube-icon,
.foursquare-icon{
	margin-top: .625em;
	width: 40px;
	height: 40px;
	opacity: .6;
	filter: alpha(opacity=60); /* For IE8 and earlier */
  border-radius: 25px;
}

.twitter-icon:hover,
.facebook-icon:hover,
.instagram-icon:hover,
.linkedin-icon:hover,
.googleplus-icon:hover,
.youtube-icon:hover,
.foursquare-icon:hover {
	opacity: 1.0;
	filter: alpha(opacity=100); /* For IE8 and earlier */
}

.footer-nav p {
	text-align: center;
}

.introabout{
	padding-left: 3%; 
}
.introabout h1,h2,h3{
	position: relative;
}
